small {
  font-size: 0.7em;
}

aside::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s;
}

/* appare solo quando hover */
aside:hover::-webkit-scrollbar-thumb,
section:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.mostra-al-passaggio {
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  background-color: #1db954;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contenitore-card:hover .mostra-al-passaggio {
  opacity: 1;
}

.mostra-al-passaggio:hover {
  transform: scale(1.1);
}

/*COLORI*/

/*BOTTONI*/
.bg-button {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.song-card-container {
  position: relative;
  transition: backgroun-color 0.3s ease;
  border-radius: 8px;
}

.song-card-container:hover {
  background-color: #282828 !important;
}

.song-card-container:hover .mostra-al-passaggio {
  opacity: 1;
  transform: translateY(0);
  .bg-customized-hover:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}

.scale {
  transition: transform 0s ease-in;
}
.scale:hover {
  transform: scale(1.1);
}

/*BACKGROUND ASIDE*/
.bg-aside {
  background-color: #121212;
}

.bg-linear {
  background: linear-gradient(rgba(255, 255, 255, 0.301), black 30%);
}

/* Stile per il contenitore delle barrette */
.music-animation {
  display: none !important;
  align-items: flex-end;
  gap: 2px;
  height: 15px;
}

.item-canzone.suonando .music-animation {
  display: flex !important;
}

.item-canzone.suonando .titolo-canzone {
  color: #1db954 !important;
}

/* Stile per ogni singola barretta */
.bar {
  width: 3px;
  height: 100%;
  background-color: #1db954; /* Verde Spotify */
  animation: bounce 0.8s ease-in-out infinite;
}

/* Ritardi per rendere l'effetto reale */
.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}

/* Il movimento */
@keyframes bounce {
  0%,
  100% {
    height: 4px;
  }
  50% {
    height: 15px;
  }
}

/* Style per il background della section centrale */
.bg-linear {
  transition: background 0.5s ease;
}

.font-enorme {
  font-size: 6em;
  font-weight: bold;
}

.cella {
  position: relative;
}

.riga:hover .numero-cella {
  display: none;
}

.riga:hover .icona-play {
  display: inline-block;
}

.numero-cella {
  display: inline-block;
}

.icona-play {
  display: none;
}
