small {
  font-size: 0.5em;
}

aside::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s;
}

/* appare solo quando hover */
aside:hover::-webkit-scrollbar-thumb,
section:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
