small {
  font-size: 0.7em;
}

aside::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s;
}

/* appare solo quando hover */
aside:hover::-webkit-scrollbar-thumb,
section:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.mostra-al-passaggio {
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  background-color: #1db954;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contenitore-card:hover .mostra-al-passaggio {
  opacity: 1;
}

.mostra-al-passaggio:hover {
  transform: scale(1.1);
}

/*COLORI*/

/*BOTTONI*/
.bg-button {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.song-card-container {
  position: relative;
  transition: backgroun-color 0.3s ease;
  border-radius: 8px;
}

.song-card-container:hover {
  background-color: #282828 !important;
}

.song-card-container:hover .mostra-al-passaggio {
  opacity: 1;
  transform: translateY(0);
  .bg-customized-hover:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}

/*BACKGROUND ASIDE*/
.bg-aside {
  background-color: #121212;
}
