footer {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0) 100%
  );
}

#mobile-nav i {
  margin-bottom: 4px;
}

.bg-grigio {
  background-color: #242424;
}

.bg-grigio-scuro {
  background-color: #121212;
}

#searchInput::placeholder {
  color: #b3b3b3;
  font-weight: bold;
}

#searchInput:focus {
  outline: none;
}

.card-spotify {
  cursor: pointer;
}
