body {
}

footer {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0) 100%
  );
}

#mobile-bottom {
}

/* #mobile-nav {
  background: linear-gradient(
    to top,
    #000000 0%,
    #121212 50%,
    #222222 100%
  ) !important;
  background-attachment: fixed;
} */

.bg-grigio {
  background-color: #242424;
}

.bg-grigio-scuro {
  background-color: #121212;
}

#search::placeholder {
  color: #b3b3b3;
  font-weight: bold;
}

#search:focus {
  outline: none;
}

.card-spotify {
  cursor: pointer;
}
